.list-view{
    -fx-background-color: #262626;
}

.list-view:focused{
    -fx-background-color: #9b9b9b;
}

.list-view.list-cell{
    -fx-text-fill: white;
}


.list-view .list-cell:even {
    -fx-background-color: #262626;
    -fx-text-fill: #ffffff;
}


.list-view .list-cell:odd{
    -fx-background-color: #535653;
    -fx-text-fill: #FFFF;
}

.list-view .list-cell:filled:selected:even{
    -fx-background-color: linear-gradient(#300 0%, #700 25%, #a00 75%, #e00 100%);
}

.list-view .list-cell:filled:selected:odd{
    -fx-background-color: linear-gradient(#300 0%, #700 25%, #a00 75%, #e00 100%);
}

.list-view:focused .list-cell:filled:selected {
    /* 3: (This is more specific and therefore overrides the above)*/
    -fx-background-color: linear-gradient(#300 0%, #700 25%, #a00 75%, #e00 100%);
}


.list-view > .virtual-flow > .scroll-bar:vertical,
.list-view > .virtual-flow > .scroll-bar:vertical > .track,
.list-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.list-view > .virtual-flow > .scroll-bar:horizontal,
.list-view > .virtual-flow > .scroll-bar:horizontal > .track,
.list-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.list-view > .virtual-flow > .scroll-bar > .increment-button,
.list-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}